

.main{
    height: 100vh;
    
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.header {
    display: flex;
    align-items: end;
    height: 100%;
}
.contetn {
      display: flex;
    align-items: start;
    height: 100%;
}

