:root{

    --link-color-h: 194;
    --link-color-s: 96%;
    --link-color-l: 30%;


    --clr-main: hsl(194, 96%, 30%);
    --clr-main-dark: hsl(var(--link-color-h), var(--link-color-s), calc(var(--link-color-l) * .5));
    --clr-main-light: hsl(var(--link-color-h), var(--link-color-s), calc(var(--link-color-l) * 2.1));


    --header-height: 80px;
}
