

.row {
    display: grid;
    gap: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    transition: .2s;
}

.checked {
    border-color: lightcoral;
    color: lightcoral;
}

.delete {
    animation: show  .2s 1 ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translate(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
