:root{
    --clr-main: hsl(194, 96%, 30%);
    --link-color-h: 194;
    --link-color-s: 96%;
    --link-color-l: 30%;

    --clr-main-dark: hsl(var(--link-color-h), var(--link-color-s), calc(var(--link-color-l) * .5));
}


*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body::after {
    content: ' ';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('./assets/img/Map.png');
    background-color: var(--clr-main);
    background-color: var(--clr-main-dark);
    background-size:cover;
    background-position:center;
    z-index: -1;
}

.app{
    width: 100vw;
    height:100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo{
    fill: white;
    width:100%;
    height: 5rem;

}

.license_form {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 40px;
}


.license_download{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none !important;
    font-size: 22px;
    background-color: var(--clr-main);
    border-radius: 20px;
    color: white !important;
    transition: .3s;
    padding: 10px 20px;

}

.license_download:hover{
    background-color: var(--clr-main-dark);
}

